body {
  font-family: Helvetica, sans-serif;
  background-color: #181818;
  color: white;
}

a {
  color: white;
}

.albumCollection {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 667px) {
  .albumCollection {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .albumCollection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.album {
  margin: 10px;
}

.artistName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  margin: 14px 0px;
  font-weight: bold;
}

.artistName a {
  color: #a0a0a0;
  text-decoration: none;
}

.artistName a:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.albumName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin: 14px 0px;
  font-weight: bold;
}

.albumName a {
  color: white;
  text-decoration: none;
}

.albumName a:hover {
  color: white;
  text-decoration: underline;
}

h3 {
  padding: 0px;
  margin-bottom: 8px;
}

.header {
  margin: 30px 10px 5px;
  border-bottom: 1px solid rgba(130, 130, 130, 0.374);
}

.image-overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image-container {
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

.image-container:hover .image-overlay {
  background: rgba(83, 82, 82, 0.8);
  transition: 0.4s ease;
}

.icons-container {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(357deg)
    brightness(108%) contrast(102%);
  position: absolute;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 45%;
}

.image-overlay .play-icon {
  transform: scale(1.8);
  transition: 0.3s ease;
}

.image-container:hover .icons-container {
  display: flex;
}

.icons-container img {
  height: 35px;
  margin: 0 15px;
  opacity: 0.6;
}

.heart-icon:hover,
.dots-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  opacity: 1;
}

.play-icon:hover {
  transform: scale(2.4);
  transition: 0.3s ease;
  opacity: 1;
}
