body {
  font-family: Helvetica, sans-serif;
  background-color: #181818;
  color: white;
}

a {
  color: white;
}

.album-collection {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 1fr;
}

.main-container {
  transition: 0.5s;
  padding-left: 60px;
}

.main-container-open {
  transition: 0.5s;
  padding-left: 60px;
}

@media (min-width: 667px) {
  .album-collection {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .main-container-open {
    transition: 0.5s;
    padding-left: 320px;
  }

  .album-collection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.album {
  margin: 10px;
}

.artist-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  margin: 14px 0px;
  font-weight: bold;
}

.artist-name a {
  color: #a0a0a0;
  text-decoration: none;
}

.artist-name a:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.album-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin: 14px 0px;
  font-weight: bold;
}

.album-name a {
  color: white;
  text-decoration: none;
}

.album-name a:hover {
  color: white;
  text-decoration: underline;
}

h3 {
  padding: 0px;
  margin-bottom: 8px;
}

.header {
  margin: 30px 10px 5px;
  border-bottom: 1px solid rgba(130, 130, 130, 0.374);
}

.image-overlay {
  top: 0;
  position: absolute;
  /* width: auto; */
  height: 99.5%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
}

.image-container {
  /* height:auto;
  max-width:600px;
  width:100% */
  /* max-width: 300px;
  max-height: 300px; */
  aspect-ratio: 1 / 1;
  position: relative;
  max-width: 600px;
  width: 100%;
}

.image-container img {
  /* height: auto; */
  max-width: 600px;
  width: 100%;
  /* max-width: 300px;
  max-height: 300px;
  position: relative; */
}

.image-container:hover .image-overlay {
  background: rgba(83, 82, 82, 0.8);
  transition: 0.4s ease;
}

.icons-container {
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(357deg)
    brightness(108%) contrast(102%);
  position: absolute;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  top: 45%;
}

.image-overlay .play-icon {
  transform: scale(1.8);
  transition: 0.3s ease;
}

.image-container:hover .icons-container {
  display: flex;
}

.icons-container img {
  height: 35px;
  margin: 0 15px;
  opacity: 0.6;
}

.heart-icon:hover,
.dots-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  opacity: 1;
}

.play-icon:hover {
  transform: scale(2.4);
  transition: 0.3s ease;
  opacity: 1;
}

.sidebar-toggle {
  background: transparent;
  border-color: transparent;
  color: grey;
  transform: scale(1.5);
}

.sidebar-toggle-closed {
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 3;
  transition: 0.5s;
}

.sidebar-toggle-open {
  position: fixed;
  top: 10px;
  left: 275px;
  z-index: 3;
  transition: 0.5s;
}

.nav {
  width: 310px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.nav-content {
  margin-bottom: 20px;
}

.playlist-container {
  max-width: 300px;
  display: inline-block;
}

.playlist-container .image-container {
  width: 80px;
  display: inline-block;
}

.playlist-text {
  width: 200px;
  display: inline-block;
  margin-left: 5px;
}

.tracks-info {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.pl .tracks-info .album-name {
  display: inline-block;
}

.release-date {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  margin: 14px 0px;
  margin-top: -10px;
  font-weight: bold;
}

.image-container:hover .album-extra {
  transition: 0.4s ease;
  display: block;
}

.album-extra {
  margin: -2px;
  padding-top: 9px;
  border-color: rgba(83, 82, 82, 0.8);
  background-color: rgba(83, 82, 82, 0.8);
  width: max-content;
  float: right;
  z-index: 3;
  display: none;
}

.album-extra .release-date,
.album-extra .tracks-info {
  color: rgb(207, 207, 207);
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  padding: 3px;
}

.nav-open {
  left: 0;
}

.nav-closed {
  left: -280px;
}

.nav-button {
  z-index: 2;
}

.nav-closed .nav-content {
  visibility: hidden;
}

.link-disabled {
  color: #a0a0a0;
}

.nav-links {
  margin-top: 30px;
  margin-bottom: 60px;
}

.nav-links h2 {
  margin: 10px 0px;
}
