body {
  font-family: Helvetica, sans-serif;
  background-color: #181818;
  color: white;
}

a {
  color: white;
}

.albumCollection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.album {
  margin: 10px;
}

.artistName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
  margin: 14px 0px;
  font-weight: bold;
}

.artistName a {
  color: #a0a0a0;
  text-decoration: none;
}

.artistName a:hover {
  color: #a0a0a0;
  text-decoration: underline;
}

.albumName {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin: 14px 0px;
  font-weight: bold;
}

.albumName a {
  color: white;
  text-decoration: none;
}

.albumName a:hover {
  color: white;
  text-decoration: underline;
}

h3 {
  padding: 0px;
  margin-bottom: 8px;
}

.header {
  margin: 30px 10px 5px;
  border-bottom: 1px solid rgba(130, 130, 130, 0.374);
}